/* Start Global R.linkses  */

html {
  scroll-behavior: smooth;
}

body {
  background-color: #222;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #068bf7;
  --hover-color: #006ed4;
  --main-transition: .3s;
  --border-radius: 6px;
}

/* Change the color of selected text */
::selection {
  background-color: black; /* Orange background */
  color: white; /* White text color */
}
/* End Global Rules  */

/* Start Card */

/* End Card */